html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  background: var(--c-gray-5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-regular;
  font-size: 14px;
  min-height: 100%;
  letter-spacing: -1%;
}

.container {
  padding-left: rem(15);
  padding-right: rem(15);
  margin: auto;  
  
  max-width: rem(1236);
  @include desktop-xs(){
    max-width: rem(1020); 
  }
  @include tablet-lg(){
    max-width: rem(916);
  }
  @include tablet-md(){
    max-width: rem(800);
  }
  @include tablet-sm(){
    max-width: rem(800);
  }
  @include mobile-lg(){
    max-width: rem(780);
  }
  @include mobile-md(){
    max-width: rem(780);
  }
  @include mobile-sm(){
    max-width: rem(780);
  }  
}

a,
.btn,
.icon {
  transition: 0.3s all;
}

a{
  text-decoration: none;
  color: var(--c-primary);
  &:hover, &:focus{
    color: var(--c-secondary);
  }
}