.aqua-bg{
    background: var(--c-aqua);
}

.beer-bg, .yellow-bg{
    background: var(--c-beer);
}

.mandy-bg, .red-bg{
    background: var(--c-mandy);
}

.gray-bg, .bg-muted{
    background: var(--c-gray-5);
}