/*------------------*
# Variables
*------------------*/

// Breakpoints
$desktop-lg: rem(1919); // Wide Desktop Screens (Above 1680 - Large Screens)
$desktop-md: rem(1620); // Medium Desktop Screens (Like 1480 - Macbook & Macbook Pro)
$desktop-sm: rem(1420); // Small Desktop Screens
$desktop-xs: rem(1360); // Small Desktop Screens

$tablet-lg: rem(1080); // Landscape Tablet
$tablet-md: rem(991); // Portrait Medium Tablet
$tablet-sm: rem(865); // Portrait Tablet

$mobile-lg: rem(767); // Mobile Landscale
$mobile-md: rem(576); // Mobile Medium Portrait
$mobile-sm: rem(540); // Mobile Portrait

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$font-header:  'SFProDisplay-Heavy';
$font-regular: 'SFProText-Regular'; 
$font-medium: 'SFProText-Medium'; 
$font-semibold: 'SFProText-Semibold'; 
$font-bold: "SFProText-BoldItalic"; 

/*
 * Base colors
*/

// Theme colours
:root {
    --c-primary: #092C4C;
    --c-secondary: #F2994A;
    --c-success: #27AE60;
    --c-info: #2F80ED;
    --c-warning: #E2B93B;
    --c-danger: #EB5757;
    --c-light: #FAFAFA;
    --c-white: #FFFFFF;
    --c-dark: #000000;
    --c-blue: #0D3D69;
    --c-red: #E75C62;
    --c-yellow: #E2B93B;
    --c-cyan: #67D2E1;
    --c-gray: #828282;
    --c-gray-dark: #333333;
}