/*------------------*
# Variables
*------------------*/

// Breakpoints
$desktop-lg: rem(1919); // Wide Desktop Screens (Above 1680 - Large Screens)
$desktop-md: rem(1620); // Medium Desktop Screens (Like 1480 - Macbook & Macbook Pro)
$desktop-sm: rem(1420); // Small Desktop Screens
$desktop-xs: rem(1360); // Small Desktop Screens

$tablet-lg: rem(1080); // Landscape Tablet
$tablet-md: rem(991); // Portrait Medium Tablet
$tablet-sm: rem(865); // Portrait Tablet

$mobile-lg: rem(767); // Mobile Landscale
$mobile-md: rem(576); // Mobile Medium Portrait
$mobile-sm: rem(540); // Mobile Portrait

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$font-header:  'Inter', Helvetica, Arial, sans-serif;
$font-regular: 'Inter', Helvetica, Arial, sans-serif; 
$font-medium: 'Inter', Helvetica, Arial, sans-serif; 
$font-semibold: 'Inter', Helvetica, Arial, sans-serif; 
$font-bold: "Inter", Helvetica, Arial, sans-serif; 

/*
 * Base colors
*/

// Theme colours
:root {
    --c-primary: #063f70; // Buttons - OK
    --c-primary-01:#012343; // Sidebar BG
    --c-primary-02:#012b50; // Header
    --c-primary-03:#0d365d; // Active
    --c-primary-04:#082c4e; // Second Level

    --c-secondary: #F2994A;
    --c-success: #27AE60;
    --c-info: #2F80ED;
    --c-warning: #E2B93B;
    --c-danger: #EB5757;
    --c-light: #FAFAFA;
    --c-white: #FFFFFF;
    --c-dark: #000000;
    --c-dark-variant-one:#1D1D1D;
    --c-dark-variant-two:#282828;
    --c-mandy: #E75C62;
    --c-beer: #E2B93B;
    --c-aqua: #67D2E1;
    --c-gray-1: #333333;
    --c-gray-2:#4F4F4F;
    --c-gray-3:#828282;
    --c-gray-4:#E0E0E0;
    --c-gray-5:#f5f5f5;
}