.gantt-page {
    @include tablet-lg() {
        .col-md-3{
            width: 50%;
        }
    }

    table {

        thead {
            background: var(--c-white);

            th {
                background-color: #fff;
            }
        }

        .w-250 {
            min-width: 250px;
        }

        .w-100 {
            min-width: 100px !important;
        }


    }

    .progress {
        margin-bottom: 0px;
        background-color: rgba(231, 92, 98, 1);
        height: 20px;
    }

    .progress-bar-div {
        width: 100%;
        background: rgb(231, 92, 98);
        border-radius: 4px;
        height: 20px;

        .progress-percentage {
            background: var(--c-aqua);
            border-radius: 4px;
            height: 20px;
        }
    }



    .collase-active {
        display: table-row !important;


    }

    .active-row {
        background: var(--c-white);
    }

    .summarybox {
        background: white;
        padding: 10px;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        border-radius: 10px;
    }

    .widget {
        @include desktop-xs() {
            padding: 15px 10px;
            span{
                font-size: 12px;
            }
        }
        .small {
            color: var(--c-white);
        }

        h3 {
            margin-top: 5px;
            margin-bottom: 0;
            font-size: 25px;
        }
    }

    .ibox-content {
        overflow: auto;
    }

}
// @media only screen and (min-width:991px) and (max-width:1300px){
//     .gantt-page .widget span{
//         font-size: 12px;
//     }
// }



.project-table{
    table-layout:fixed;
}
.gantt-project-page {
    table {

        thead {
            background: var(--c-white);

            th {
                background-color: var(--c-white);
            }
        }

        .w-250 {
            min-width: 250px;
            width: 250px!important;
        }

        .w-100 {
            min-width: 100px !important;
            width: 100px!important;
        }

        .w-350 {
            min-width: 350px;
        }
    }

    .ibox-content {
        overflow: auto;
    }

    .progress {
        margin-bottom: 0px;
        border: 1px solid var(--c-aqua);

        .progress-value {
            color: var(--c-gray-2);
        }
    }

    .progress-bar.active {
        animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;
    }

    @-webkit-keyframes animate-positive {
        0% {
            width: 0%;
        }
    }

    @keyframes animate-positive {
        0% {
            width: 0%;
        }
    }

    .collase-active {
        display: table-row !important;

        td {
            padding: 0px 8px;

            table {
                margin: 0px;

                td {
                    &:first-child {
                        padding-left: 35px;
                    }
                }
            }
        }

        .subtask-bg {
            background-color: var(--c-gray-5);
        }
    }

    .collase-icon {
        color: var(--c-aqua);
        font-size: 18px;
        padding: 5px;
        border-radius: 50%;
    }

    .collase-icon-hidden {
        color: var(--c-aqua);
        font-size: 18px;
        padding: 5px;
        border-radius: 50%;
        visibility: hidden;
        display: none;
    }

    .active-row {
        background: var(--c-white);
    }

    .icon-container {
        float: right;
        display: flex;
        gap: 10px;
    }

    td:hover .hover-icon {
        display: inline-block;

        i {
            color: var(--c-secondary);
        }
    }

    .task-text {
        position: relative;
        padding-right: 15px;
    }

    .hover-icon {
        pointer-events: none;
        opacity: 1;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translate(0px, -50%);

        i {
            color: var(--c-primary);
        }
    }

    .task-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{
            &:first-child{
                display: flex;
                align-items: flex-start;
                .collase-icon{
                    padding-top: 2px;
                    padding-left: 0px;
                }
            }
        }
        .edit-task {
            margin-right: 10px;
        }

        .add-i {
            margin-right: 10px;
        }
    }

    .resource-input {
        position: relative;
        padding-right: 15px;
        text-align: center;

        .resource-icon {
            opacity: 1;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    .table-row {
        display: table-row !important;
    }

    .collase-active td table td:first-child {
        padding: 8px;
    }

    .collase-active td table td:nth-child(2) {
        padding-left: 35px;
    }

    .blink-border {
        border-left: 1px solid var(--c-gray-4);
        border-right: 1px solid var(--c-gray-4);
        animation: blink 2s linear infinite;
        background: #f2dede;
        &.noblink-bdr{
            border-left: 0px;
        border-right: 0px;
        animation: none;
        background: transparent;
        }
    }

    @keyframes blink {
        0% {
            border-color: var(--c-gray-4);
            background: #f2dede;
        }

        50% {
            border-color: var(--c-gray-4);
            background: transparent;
        }

        100% {
            border-color: var(--c-gray-4);
            background: #f2dede;
        }
    }

    .display-none {
        display: none !important;
    }
    &.resource-management-sec{
        .w-250 {
            min-width: 250px!important;
            width: 250px!important;
        }

        .w-100 {
            min-width: 100px !important;
            width: 100px!important;
        }
        .w-150 {
            min-width: 150px !important;
            width: 150px!important;
        }
        margin-top: 30px;
        .resource-management-heading{
            padding-top: 20px;
            h3{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        .sub-table-td{
            padding: 0px;
            td{
                div.btn-primary{
                    padding: 3px 10px 5px;
                    i{
                        font-size: 10px;
                    }
                }
            }
        }
        
    }
    
}
#taskModal {
    .gantt-task-modal-body{
        padding: 20px 30px 0px 30px;
        table th{
            border-top: 0px;
        }
    }
    .modal-footer {
        margin-top: 0;
        padding: 0px 30px 25px 30px;
        border: 0;
        text-align: left;
    }
}
#assignDaysModal{
    .modal-body {
        padding: 20px 30px 0px 30px;
        .row{
            margin: 0px;
        }
    }
    .tabs-container{
        float: left;
        .form-group{
            padding: 0px;
        }
    }
    .modal-footer {
        margin-top: 0;
        padding: 0px 30px 25px 30px;
        border: 0;
        text-align: left;
    }
}