.navbar-fixed-top, .navbar-static-top{
    background: var(--c-white);
    min-height: rem(110);
    padding: rem(30);

    .header-left{
        @include flex(center,space-between);
    }
}

.toggle-nav-user{
    margin: 10px 23px;
    padding: 7px 14px;
    font-size: 16px;
}

.brand{
    // margin: 14px 0px;
    font-size: 22px;
    color: var(--c-primary);
    display: inline-block;
}


ul.nav.navbar-top-links.navbar-right {
	padding: 0;
}


.nav.navbar-right > li{
    &.logout{
        margin-left: 20px;
        position: relative;
        top: 3px;
        a{
            padding: 0px 0;
            font-size: 22px;
            height: 30px;
            width: 30px;
            text-align: center;
            &:hover{
                color: var(--c-primary);
            }
            & .fa{
                margin-right: 0;
            }
        }
    }
}
