.navbar-fixed-top,
.navbar-static-top {
    background: var(--c-white);
    height: 60px;
    padding: 8px 24px;

    .header-left {
        @include flex(center, space-between);
    }

    .g-search-item {
        .inner-addon {
            width: 416px;

            input {
                padding: 10px 15px;
                border-radius: 5px;
                height: 100%;
                font-size: 13px;
            }

            .epms-icon {
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                padding: 13px;
                right: 0;
                pointer-events: none;
            }
        }
    }


    ul.navbar-controls {
        list-style: none;
        align-items: center;
        margin-bottom: 0;
        justify-content: flex-end;
        display: flex;

        li {
            display: block;

            .epms-icon {
                line-height: 40px;
            }

            a {
                @include flex(center, center);
            }

            + {
                li {
                    margin-left: 24px;
                }
            }
        }
    }

}

.btn.toggle-nav-user {
    margin: 0px;
    padding: 3px;
    font-size: 12px;
    position: absolute;
    line-height: 1;
    color: var(--c-white);
    background: var(--c-secondary);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 25px;
    right: -10px;
    z-index: 1;
}

.brand {
    margin-top: 0;
    float: right;

    img {
        width: 55px;
    }
}


ul.nav.navbar-top-links.navbar-right {
    padding: 0;
}

.task-title {
    font-size: rem(22);
}

.swal2-container{
    .swal2-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.25;
    }
}