.navbar-fixed-top, .navbar-static-top{
    background: var(--c-white);
    min-height: 55px;
    padding: 4px 24px;

    .header-left{
        @include flex(center,space-between);
        margin-top: 3px;
    }
    .g-search-item {
        .inner-addon 
        {
            width: 416px;
            input
            {
                padding: 10px 24px;
                border-radius: 10px;
                height: 100%;
                font-size: 13px;
            }
            .epms-icon{
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                padding: 13px;
                right: 0;
                pointer-events: none;
            }
        }
    }


ul.navbar-controls {
	list-style: none;
	align-items: center;
	margin-bottom: 0;
	justify-content: flex-end;
	display: flex;
	margin-top: 7px;
	li {
		+ {
			li {
				margin-left: 24px;
			}
		}
	}
}

}

.toggle-nav-user{
    margin: 10px 23px;
    padding: 7px 14px;
    font-size: 16px;
}

.brand{
    // margin: 14px 0px;
    // font-size: 22px;
    // color: var(--c-primary);
    // display: inline-block;
    margin-top: 0;
    float: right;

    img{
        width: 70px;
    }
}


ul.nav.navbar-top-links.navbar-right {
	padding: 0;
}


// .nav.navbar-right > li{
//     &.logout{
//         margin-left: 20px;
//         position: relative;
//         top: 3px;
//         a{
//             padding: 0px 0;
//             font-size: 22px;
//             height: 30px;
//             width: 30px;
//             text-align: center;
//             &:hover{
//                 color: var(--c-primary);
//             }
//             & .fa{
//                 margin-right: 0;
//             }
//         }
//     }
// }
