div#wrapper{
    background:  var(--c-white);
}

.table-wrapper {
    margin-top: rem(15);
}

.task-details-table-wrap{
    td {
        max-width: 200px; 
        white-space: normal;
        word-wrap: break-word;
      
      }
}