.swal2-confirm{
    background-color: var(--c-info);
}
.swal2-container.swal2-center.swal2-backdrop-show{
    z-index: 2001;
    transition: background-color .5s;
    .swal2-show{
        -webkit-animation:none;
        animation: none;
    }
}

.swal2-icon{
    width: rem(56);
    height: rem(56);

    &.swal2-success {
        width: 5em !important;
        height: 5em !important;
    }
}

