.assignees {
    h4 {
      background: #f6f6f6;
      padding: 9px;
      font-size: 14px;
      border-radius: 4px;
      margin-left: 3px;
      margin-right: 3px;
  
    }
  
    display: flex;
    flex-wrap: wrap;
  }
  