.badge {
    min-width: rem(56);
}


.label-primary,
.badge-primary {
    background-color: var(--c-info);
    color: #ffffff;
}

.label-critical{
    background: var( --c-danger);
    color: #ffffff;
}