.breadcrumbs-outer-div{
    border: 0;
    background: var(--c-gray-5);
    min-height: 30px;
    font-size: 12px; 

    .breadcrumb{
        background: transparent;
    }

    &.ibox-content{
         padding: 6px 22px;
    }
}