.breadcrumbs-outer-div{
    border: 0;
    background: var(--c-gray-5);
    min-height:35px;
    .breadcrumb{
        background: transparent;
    }
    &.ibox-content{
         padding: 8px 23px;
    }
}