.heading-inline{
    hr{
        border: 0;
        // display: none;
    }
}

.session-title {
    font-weight: 700;
    font-size: rem(20);
    line-height: rem(28);
    color: var( --c-primary);
    margin: 0 rem(28);
    display: inline;
}