.ibox-content{
    border: 0;
    padding: 15px 23px;
    border-bottom-left-radius: rem(8);
    border-bottom-right-radius: rem(8);
}

.ibox-title{
    border: 0;
    border-top-left-radius: rem(8);
    border-top-right-radius: rem(8);
}