// .note-editor.note-frame .note-editing-area .note-editable{
//     background: transparent;
// }

.panel{
    &.note-frame{
        border: rem(1) solid var(--c-gray-4);
    }
}


.note-editor {
	.panel-heading.note-toolbar {
		.note-color {
			.dropdown-toggle {
				padding: 8px 4px;
			}
		}
	}

	.note-editable p {
		text-align: left !important;
	}
}

.section-comments img {
    max-height: 40px;
    max-width: 40px !important;
}


