.epms-notify {
  span.notification-count {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #f2994a;
    right: -4px;
    top: 2px;
    border-radius: 50%;
    line-height: 1.8;
    text-align: center;
    color: #fff;
    font-size: 10px;
  }

  a.dropdown-item {
    display: block!important;
    line-height: 25px !important;
    padding: 0;
    width: 100%!important;

    i {
      margin-right: 5px;
    }
  }

  ul.dropdown-menu.dropdown-alerts {
    min-width: 430px;
    margin-left: -251px;

    li{
      border-left: 3px solid #f8ac58;
      background: #fafafb;
      margin: 0 0 10px;
      padding: 10px;
      border-radius: 2px;

    }
  }
}
