

.pagination {
    display: flex;
	align-items: center;
	text-align: center;
	li {
		& + li {
			a,span {
				margin-left: 8px;
			}
		}
		color: var(--c-gray-3);
		a, span {
			border-radius: 4px;
            width: 35px;
            height: 35px;
            line-height: 2;

		}

		a{
			&:hover{
				background-color: var(--c-white);
			}
			&:focus{
				outline: 0;
				border-color: var( --c-gray-4);;
			}
			&:focus-visible {
				outline: 0;
			}

			i{
				line-height: 1;
			}
		}

        &.previous, &.next{
            a{
                width: auto;
            }
        }
	}
	li.disabled {
		a, span {
			background: var( --c-gray-4);
			border-color: var( --c-gray-4);
		}
		a{
			&:focus, &:hover{
				
				outline: none;
				background: var( --c-gray-4);
				border-color: var( --c-gray-4);
			}
		}
	}
	li.active {
		a,span {
			background:var(--c-primary);
			color: var(--c-white);
			cursor: pointer;
		}

		a{
			&:focus{
				border: none;
				outline: none;
				background: var(--c-primary);
				color: var(--c-white);
			}

			&:hover{
				background: var(--c-primary);
				color: var(--c-white);
			}

		}
	}
}

