

.pagination {
    display: flex;
	align-items: center;
	text-align: center;
	li {
		& + li {
			a,span {
				margin-left: 8px;
			}
		}
		color: var(--c-gray-3);
		a, span {
			border-radius: 4px;
            width: 35px;
            height: 35px;
            line-height: 2;

		}
        &.previous, &.next{
            a{
                width: auto;
            }
        }
	}
	li.disabled {
		a, span {
			background: var( --c-gray-4);
			border-color: var( --c-gray-4);
		}
	}
	li.active {
		a,span {
			background:var(--c-primary);
			color: var(--c-white);
		}
	}
}
