
body.mini-navbar .nav-header, .nav-header { 
  background-color: var(--c-primary-variant);
}

.navbar-default{
    border-color: var(--c-primary);
    ul.nav-second-level {
        background: var(--c-primary-variant);
        padding: rem(10) 0;
       li{
            &.active{
                & > a{
                    background: transparent
                }
            }
       }
    }
    .nav{
	
		.dropdown-menu 
		{
			li {
					& > a{
						color: var(--c-primary);
						opacity: 1;
					}
				}
		}
		li {
			& > a{
				color: var(--c-white);
				opacity: 0.6;
				&:hover, &:focus{
					background-color: var(--c-nav-active);
					color: var(--c-white);
				}
			}
		
			&.active {
				& > a {
					background: var(--c-nav-active);
					opacity: 1;
				}
			}
		}
	}
}



