
body.mini-navbar .nav-header, .nav-header { 
  background-color: var(--c-primary-variant);
}

.nav-header {
    padding: rem(12) rem(25);
	height: rem(116);
	.profile-element{
		& > span{
			height: rem(50);
			width: rem(50);
			display: block;
		}
	}
}

body.mini-navbar .nav-header{
	height: rem(70);
}

.navbar-default{
    border-color: var(--c-primary);

	ul.metismenu{
		& > li.active{
			& > a{
				&:before{
					content: "";
					height: 100%;
					width: rem(4);
					background: var(--c-secondary);
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
	
    ul.nav-second-level {
		position: relative;
        background: var(--c-nav-expand);
		
		&:before {
			position: absolute;
			display: block;
			content: '';
			top: 0;
			left: rem(35);
			bottom: 0;
			background: var(--c-white);
			width: 1px;
			opacity: 0.5;
		}

		li{

			&:first-child{
				padding-top: rem(10);
			}

			&:last-child{
				padding-bottom: rem(10);
			}

			&.active{
                & > a{
                    background: transparent;
                }
            }

			&:hover{
				a{
					color: var(--c-white);
					opacity: 0.75;
				}
			}

			a{
				&:before {
					content: "";
					position: absolute;
					left: rem(36);
					bottom: 0;
					top: 50%;
					transform: translateX(-50%);
					width: rem(7);
					height: rem(7);
					border-radius: 50%;
					background: var(--c-white);
					margin-top: rem(-3.5);
					z-index: 1;
				}
			}
		}
    }


    .nav{
	
		.dropdown-menu 
		{
			li {
				& > a{
					color: var(--c-primary);
					opacity: 1;
				}
			}
		}
		
		li {
			& > a{
				color: var(--c-white);
				opacity: 0.6;

				&:focus{
					background-color: var(--c-nav-active);
					color: var(--c-white);
				}

				&:hover{
					cursor: pointer;
					color: var(--c-white);
					background-color: transparent;
				}
			}
		
			&.active {
				& > a {
					background: var(--c-nav-active);
					opacity: 1;
				}
			}
		}
	}
}
