.tabs-container{
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    background-color: var(--c-white);
    padding: rem(30);
    border-radius: rem(8);
    margin-top: rem(20);
    margin-bottom: rem(20);
    .nav-tabs {
        border-bottom: 4px solid var(--c-light);
        & > li{
            margin: 0;
            margin-bottom: -4px;
            border-bottom: 4px solid transparent;
            a{
                border: 0;
                border-radius: 0;
                &:hover, &:focus{
                    border: 0;
                    background-color: var(--c-white);
                }
            }
            &.active{
                //
                border-bottom-color: var(--c-primary);
            }
        }
    }
    .panel{
        &.panel-primary{
            .panel-heading{
                background: var(--c-gray-5);
                &.note-toolbar{
                    background: var(--c-white);
                    padding: 0 rem(5) rem(5) rem(5);
                }
            }
            .tab-content{
                margin-top: rem(15);
                background: var(--c-gray-5);
            }
        }
    }
}

.nav-tabs + .tab-content{
    margin-top: rem(20);
}