.timer-div{
    .timer-inner {
        @include flex;
        padding: 24px;

        img{
            width: 70px;
            height: 70px;
        }
    
        .time-wrap {
            margin-left: 20px;
            min-width: 80%;

            button{
                width: 100%;
            }
        }
    }
}