.widget{
    color: var(--c-white);
    i{
        opacity: 0.5;
    }

    &.aqua-bg{
        box-shadow: 0px 4px 24px rgba(103, 210, 225, 0.4);
    }

    &.beer-bg{
        box-shadow: 0px 4px 24px rgba(254, 177, 41, 0.4);
    }

    &.mandy-bg{
        box-shadow: 0px 4px 24px rgba(231, 92, 98, 0.4);
    }
}