.widget{
    

    &--with-icon{
        color: var(--c-white);
        @include flex(center,space-between);
        border-radius: 10px;
        padding: 7px 20px;
    }

    h3{

        font-size: 25px;

       @include below(1449px){
            font-size: 17px;
       }
        span{
            font-size: 12px;
        }
    }
    .small{
        color: var(--c-white);
    }
    i{
        opacity: 0.5;
    }
}